<h1>(Professor(<%= @user.isprofessor =%>) in: <%= @user.uni =%>) Listing courses</h1>
 
<table>
  <tr>
    <th>Course Title</th>
    <th>Time</th>
    <th>Day</th>
  </tr>
 
  <% @course_list.each do |course| %>
    <tr>
      <td><%= link_to course["CourseSubtitle"], controller: "professor/courses", action: "create", course: course%></td>
      <td><%= "#{course["StartTime1"]} - #{course["EndTime1"]}" %></td>
      <td><%= course["MeetsOn1"] %></td>
    </tr>
  <% end %>
</table>

<% if user_signed_in? %>
        <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
<% end %>
