<h1><%= @course.course_title %></h1>
<%= form_tag("/response/create/", method: "post") do %>
  <%= hidden_field_tag(:i, @questions.count) %>
  <% (0...@questions.count).each do |i| %>
    <strong><%= @questions[i].text %></strong>
    <br>
    <% (0...@question_choices[i].length).each do |j| %>
      <%= @question_choices[i][j].text %>
      <%= hidden_field_tag("question-#{i}", @questions[i].id) %>
      <%= radio_button_tag("questionresponse-#{i}", @question_choices[i][j].id) %>
      </br>
    <% end %>
  <% end %>
  <%= submit_tag("Save") %>
<% end %>
